
* {
	margin: 0 auto;
	padding: auto;
}


body {
	padding: 0 40px;
	max-width: 1400px; 

}

.main {
	border-style: solid;
	border-width: 1px;
}



/*Header*/
header {
	padding: 10px;
	height: 60px;
}

.header {
	display: flex;
	
	align-items: center;
	flex-wrap: nowrap;
}

.header_left_logo {
	margin-left:auto;
    max-width: 300px; 
    flex: 1;

}

.header_right_icons {
	margin-right: auto;
	padding: 0px 10px;
	flex: 2;
}


a:link, a:visited {
	text-decoration: none;
}

a:hover {
	color: #868686;
}

li {
	list-style-type: none;
}



/*Navigation*/
nav {
	width: 100%;
	background-color: #efe9d9;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.nav_icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	padding: 0px 10px;
}

.nav_house_icon, .nav_email_icon, .nav_add_icon {
	max-width: 50px;
}



/*Gallery*/
.gallery {
	background-color: black;
}

ul.gallery_cases {
	clear: both;
	text-align: center;
}
ul.gallery_cases img {
	width: 250px;
}
ul.gallery_cases li {
	display: inline-block;
	position: relative;
}

ul.gallery_cases span {
	width: 250px;
	height: 30px;
	font-size: 16px;
	text-align: left;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: black;
	opacity: 0.7;
	color: white;
}

ul.gallery_cases li:hover span {
	opacity: 0.85;
}



/*Footer*/
footer {
	background-color: green;
	text-align: center;
}

.footer_logo {
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.footer_social img{
	width: 30px;
}




/*Property Page*/


.prop_search {
	width: 100%;
	background-color: black;
}

.prop_search_title {
	color: white;
}

.prop_search_bar {

}











.test {
	border: 1px;
	height: 50px;
}

.test p {
	color: blue;
	text-align: right;
}










